.sky
  %img.clouds(src="https://beyondweather.ehe.osu.edu/wp-content/themes/bwwc/img/weather/bg_clouds.png")
  <marquee behavior="scroll" direction="left"><h1>Welcome back, friend!!!</h1></marquee>
  .sun
    .sun-eye.left
    .sun-eye.right
    .sun-pupil.left
    .sun-pupil.right
    .smile
.ocean
  %img.castle(src="http://www.remax-nj.com/blog/wp-content/uploads/2014/06/sandcastle.png")
  .blowfish
    .tailfin
    .dorsalfin
    .eye
    .pupil
  .sand
    .hill
