.sky
  <marquee behavior="scroll" direction="left"><h1>Welcome Home, Friend!</h1></marquee>
.ocean
  .img(src="http://www.remax-nj.com/blog/wp-content/uploads/2014/06/sandcastle.png")
  .img(src="http://pngimg.com/upload/fish_PNG1154.png")
  .sand
    .hill
