.sky
  <marquee behavior="scroll" direction="left"><h1>Welcome Home, Friend!</h1></marquee>
.ocean
  %img.castle(src="http://www.remax-nj.com/blog/wp-content/uploads/2014/06/sandcastle.png")
  .blowfish
    .tailfin
    .dorsalfin
    .eye
    .pupil
  .sand
    .hill
