.sky
  %img.clouds(src="https://beyondweather.ehe.osu.edu/wp-content/themes/bwwc/img/weather/bg_clouds.png")
  %marquee(behavior="scroll" direction="left")
    %h1 Welcome back, Rod!!!!!
  .sun
    .sun-eye.left
    .sun-eye.right
    .sun-pupil.left
    .sun-pupil.right
    .smile
.ocean
  - 100.times do |i|
    .wave(style="animation-delay: -#{i/100.0}s; left: #{i}%;")
  .boat
    .mast
    .sail.top
    .sail.bottom
    .hull
  .blowfish
    .tailfin
    .dorsalfin
    .eye
    .pupil
  .jellyfish
  .sand
    .hill
    %img.castle(src="http://www.remax-nj.com/blog/wp-content/uploads/2014/06/sandcastle.png")
