$sand-color:            #EDCB62;
$ocean-color:           #4ac;
$sky-color:             #a8e3ff;
$sand-underwater-color: mix($sand-color, $ocean-color, 100%);
$sun-color:             #ffcc00;
$horizon-height:        30%;


html, body {
  width:   100%;
  height:  100%;
  border:  0;
  margin:  0;
  padding: 0;
}

h1 {
  color: #ff1a1a;
  top: 90px;
  border: none;
  border-width: 0px;
  font-size: 5em;
  text-shadow: -5px 5px 0px #ff9900,
  -10px 10px 0px #ffff00,
  -15px 15px 0px #ffffb3;
}

.clouds {
  position: absolute;
  width: 100%;
  height: 120%;
  background: $sky-color;
  animation: scrolling-clouds 8s linear infinite;
}

.castle {
  position: relative;
  width: 300;
  bottom: -200px;
  left:  225px;
}

.sky {
  background: $sky-color;
  position:   relative;
  height:     $horizon-height;
}

.sun {
  background:    $sun-color;
  position:      relative;
  top:           -60%;
  left:          100px;
  border-radius: 50%;
  width:         100px;
  height:        100px;
  box-shadow:    inset 0px -10px 10px rgba(0, 0, 0, .3),
  0px 5px 45px rgba(200, 200, 0, .8);
}

.sun-eye {
  background:    white;
  position:      absolute;
  border-radius: 50%;
  width:         30px;
  height:        40px;
}

.sun-eye.left {
  top: 20%;
  left: 20%;
  animation: wink-sun 2s infinite ease-in-out;
}

.sun-eye.right {
  top: 20%;
  right: 20%
}

.sun-pupil {
  background:    black;
  position:      absolute;
  border-radius: 50%;
  width:         22px;
  height:        33px;
}

.sun-pupil.left {
  top: 27%;
  left: 24%;
  animation: wink-sun 2s infinite ease-in-out;
}

.sun-pupil.right {
  top: 27%;
  right: 24%
}

.smile {
  background: black;
  position:   absolute;
  width:  70px;
	height: 30px;
	border: 6px solid #222;
	border-top: 0;
	background: rgba(0,0,0,0);
	border-radius: 0 0 120px 120px / 0 0 90px 90px;
	bottom: 15%;
	left: 10%;
}

.ocean {
  position: relative;
  height:   100% - $horizon-height;
  bottom:   0;
  background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0.20,  darken($ocean-color, 10%)),
  color-stop(0.80, lighten($ocean-color, 10%))
  );
}

.wave{
  background: $sky-color;
  width:      10px;
  display:    inline-block;
  top:        0;
  position:   absolute;
  animation:  animate-wave 4s infinite ease-in-out;
}

@keyframes animate-wave{
  0%{
    height:0%;
  }
  50%{
    height:10%;
  }
  100%{
    height:0%;
  }
}

.sand {
  width: 100%;
  height: 20%;
  bottom: 0;
  background: $sand-underwater-color;
  position: absolute;
}
$hill-height: 80%;
.sand .hill {
  width: 50%;
  height: 80%;
  background: $sand-underwater-color;
  border-radius: 100%;
  position: absolute;
  left: 10%;
  top: -30%;
  box-shadow: 4em 1.5em 2em -2em darken($sand-underwater-color, 5%) inset;
  transform: rotate(180deg);
}

$left-percent:  20%;
$right-percent: 80%;
$flip-percent:  10%;
$swim-duration: 5s;
$fish-width:    200px;
$fish-height:   $fish-width/2;

.blowfish {
  position:      relative;
  width:         $fish-width;
  height:        $fish-height;
  border-radius: $fish-height/2;
  top:           -25%;
  background:    red;
  animation:     move-fish-horizontal $swim-duration infinite;
  box-shadow:    inset 0px -10px 10px rgba(0, 0, 0, .3), 0px 5px 25px rgba(0, 0, 0, .6);
}

$radius:   $fish-width*0.2;
.eye {
  position:      absolute;
  left:          $fish-width*0.12;
  top:           $fish-height*0.15;
  width:         $radius;
  height:        $radius;
  background:    white;
  border-radius: $fish-width;
}
.pupil {
  position:      absolute;
  left:          $fish-width*0.12;
  top:           $fish-height*0.15;
  width:         30px;
  height:        30px;
  background:    black;
  border-radius: 60px;
}
.tailfin {
  position: relative;
  right: -200px;
  top: 20px;
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-right: 60px solid red;
  border-bottom: 40px solid transparent;
  color: red;
  animation: move-fish;
}

.dorsalfin {
  position: relative;
  right: -100px;
  top: -100px;
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-right: 30px solid red;
  border-bottom: 0px solid transparent;
  color: red;
  animation: move-fish;
}

@keyframes move-fish-horizontal {
  0% {
    left: $right-percent;
  }
  #{50% - $flip-percent} {
    left: $left-percent;
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(-1);
    left: $left-percent;
  }
  #{100% - $flip-percent} {
    transform: scaleX(-1);
    left: $right-percent;
  }
  100% {
    transform: scaleX(1);
    left: $right-percent;
  }
}

@keyframes wink-sun {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(-1);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes scrolling-clouds {
  0% {
    left: -120%;
  }
  100% {
    left: 200%
  }
}
